/* 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* 기본 바디 스타일 */
.body-detail{
  font-family: 'Noto Sans KR', sans-serif;
  background: #0A0F33;
  color: white;
  min-height: 100vh;
}

/* 레이아웃 */
.container-detail {
  display: grid;
  grid-template-columns: 15% 1fr;   /* 좌측 15%, 나머지 */
  height: 100vh;
}

/* 좌측 사이드바 */
.sidebar-detail {
  margin:20px;
  background: #34395D;
  border: 1px solid #989898;
  border-radius: 44px; /* 둥근 모서리 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 121px 26px; /* 내부 여백 */
}


/* 메인 영역 */
.main-wrapper-detail {
  display: grid;
  grid-template-rows: auto auto 5fr 1fr; /* 헤더, 본문, 타임라인 */
  padding: 20px;
  gap: 1rem;
}

/* 헤더 영역 */
/* .header {
  flex: 0 0 auto;
} */

/* 본문 제목 영역 */
/* .main-article-detail {
  flex: 0 0 auto;
} */

/* 본문 영역 (가운데 + 우측) */
.content-area-detail {
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 1fr; /* 가운데:우측 = 2:1 */
  gap: 1rem;
  padding: 0px;;
}


/* 타임라인 */
.timeline-detail {
  background: linear-gradient(0deg, var(--BG-3, #171C40) 0%, #3C49A6 100%);
  border-radius: 30px;
  border: 1px #989898 solid;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}